@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", system-ui;
}

.grid-1fr-1fr-7rem {
  grid-template-columns: 1fr 1fr 7rem;
}

.bg-plane {
  background-image: url("./assets/serve-air-airplane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
